
@{
    ViewBag.Title = "SPTheoNXB";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align: Center; color: blue">SÁCH THEO NHÀ SẢN XUẤT</h2>
@foreach (var sach in Model)
{

    <div class="prod_box">
        <div class="center_prod_box">
            <a href="@Url.Action("SPTheoNXB", "BookStore", new {id = sach.Masach})">
                <img alt="@sach.Tensach" src="~/HinhSanPham/@sach.Anhbia" width="165" height="113" border="0" class="oferta_img" />
                <!--<span>@sach.Tensach</span>-->
            </a>
            <div class="product_title"><a>@sach.Tensach</a></div>
        </div>
        <div class="prod_details_tab"> <a href="http://all-free-download.com/free-website-templates/" class="prod_buy">Add to Cart</a> <a href="http://all-free-download.com/free-website-templates/" class="prod_details">Details</a> </div>
    </div>

}

